@{
    ViewData["Title"] = "Contact Us - Job Portal";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for visiting our Job Portal! If you have any questions, feedback, or inquiries, please feel free to reach out to us through the contact information below:</p>

<h3>Contact Information</h3>
<ul>
    <li><strong>Email:</strong> <a href="mailto:support@jobportal.com">support@jobportal.com</a></li>
    <li><strong>Phone:</strong> 038 800 00</li>
    <li><strong>Address:</strong>Main Street, Prishtine, Kosove,14000</li>
</ul>

<p>We look forward to hearing from you!</p>
